.body{
    background-color: snow;
}
.home_page{
    border: 1px solid pink;
    width: 100%;
    height: 100%;
}
.icon_head{
    width: 60px;
    height: 60px;
    background-color: pink;
}
.header{
    width: 100%;
    height: 60px;
}
.restaurant_page{
    border: 1px solid red;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
.review_page{
    border: 1px solid blue;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
#menu_page{
    color: white;
}
.menu_list{
    width: 375px;
    height: 667px;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    background-color: green;
    text-transform: uppercase;
    color: white;
}
.btn_menu_top{
    width: 100%;
    height: 25%;
    border: 2px solid white;
}
.btn_menu_bottom{
    width: 51%;
    height: 50%;
    border: 2px solid white;
    
}
.top_menu{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.bottom_menu{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.show_img{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.filters{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-bottom: 10px;
}
select{
    background-color: white;
    height: 30px;
    
}

.boxes_img{
   width: 48%;
    height: 130px;
}
.imgs_class{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.rest_name{
    background-color: white;
    color: black;
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
}
